@{
    ViewData["Title"] = "Home Page";
}

<div class="fromdiv">
    <img src="~/images/infoimg1.png" />
</div>
<div class="container justify-content-center contm">
    <div class="d-flex bd-highlight mb-3 justify-content-center divicon">
        <div class="divicon1">
            <a href="http://localhost:57206/Apartment/ApartmentView">
                <img src="~/images/Icons/Apartment.png" />
                <label>Квартири</label>
            </a>
        </div>
        <div class="divicon1">
            <a href="http://localhost:57206/House/HouseView">
                <img src="~/images/Icons/House.png" />
                <label>Будинки</label>
            </a>
        </div>
        <div class="divicon1">
            <a href="http://localhost:57206/Office/OfficeView">
                <img src="~/images/Icons/Office.png" />
                <label>Офіси</label>
            </a>
        </div>
        <div class="divicon1">
            <a href="http://localhost:57206/Storage/StorageView">
                <img src="~/images/Icons/Storage.png" />
                <label>Склади</label>
            </a>
        </div>
        <div class="divicon1">
            <a href="http://localhost:57206/Ground_Section/Ground_SectionView">
                <img src="~/images/Icons/GroundSection.png" />
                <label>Ділянки</label>
            </a>
        </div>
    </div>
</div>
