@model CursovaMVC.ViewModels.ApartmentViewModel
@{
    ViewData["Title"] = "ApartmentView";
}
<environment include="Development">
    <link href="~/css/site.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/Apartment.css" />
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <link href="~/css/filterStyle.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</environment>
<div class="container d-flex justify-content-center">
    <a class="style_a" asp-controller="Apartment" asp-action="ApartmentView" asp-route-category="">Всі Квартири</a>

    @foreach (var aptype in Model.TypeHouse)
    {
            <a class="style_a" asp-controller="Apartment" asp-action="ApartmentView"
               asp-route-category="@aptype.Name">
                @aptype.Name
            </a>
    }

</div>
    <div class="row mt-5 mb-2 d-flex justify-content-center contm">
        @{
            foreach (Apartment item in Model.GetApartments)
            {
                @await Html.PartialAsync("_InfoCard", item)
            }

        }
    </div>


<h2>ApartmentView</h2>

